/*CSS Document*/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*---------REAL CSS STARTS HERE-----------*/

body {
		color: #FFF;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 1em;
		line-height: 2em;
		background-color: white;
		background-image: url('../images/bg01.jpg');
		background-attachment: fixed;
		background-position: center center;
		margin: 0 auto;
}

/*Navigation*/
#header {
		background-color: black;
		margin: 0 auto;
		margin-bottom: 40px;
		width: 100%;
		height: 75px !important;
		-webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
		-moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
		box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
}

/*Band Central Logo in Header */
#logo {
		width: 516px;
		height: 42px;
		float: left;
		margin: 15px;
		margin-top: 16px;
}

/*Main content*/
#content {
		background-color: transparent;
		width: 950px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
		padding: 15px;
		padding-bottom: 20px;
		text-align: justify;
}

/*Display for bands' follow/unfollow links*/
#usersContent {
		float: right;
		line-height: 1.5em;
		margin-right: 15px;
}

/*Display for user profile page*/
#profileContent {
		background-color: transparent;
		width: 950px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
		padding: 15px;
		padding-bottom: 20px;
		line-height: 3em;
}

/*Display for Bands preview page*/
#bandPreview {
		text-align: center;
}

/*Main navigation*/
ul {
	    list-style-type: none;
	    list-style-position: outside;
}

li {
		float: right;
	    padding: 15px;
	    position: relative;
	    margin-right: 25px;
	    margin-top: 9px;
}

li a:link, li a:visited, li a:active {
		font-size: 1.25em;
		font-family: 'Oswald', sans-serif;
		color: white;
		text-decoration: none;
		text-transform: uppercase;
}

li a:hover {
		color: #f8f476;
}

a:link, a:visited, a:active {
		color: #8c8ae9;
		text-decoration: none;
}

a:hover {
		color: #f8f476;
		text-decoration: underline;
}

/*Header tags*/
h1 {
		line-height: 2em;
		font-size: 2.5em;
		font-weight: bold;
		border-bottom: 1px dotted #999;
		margin-top: 0;
		margin-bottom: 25px;
}

h2 {
		color: #000;
		line-height: 2em;
		font-size: 1.5em;
		font-weight: bold;
		border-bottom: 1px dotted #999;
		background-color: #CCC;
		padding-left: 8px;
		margin-bottom: 15px;
		border-radius: 1px;
}

/*Bold*/
b {
		font-weight: bold;
		font-size: 1.2em;
		color: #f8fa63;
}

/*Time displayed on posts*/
time {
		font-style: italic;
}

/*Horizontal line on index page*/
hr {
		background-color: #dde5f2;
		height: 1px;
		opacity:0.3;
		filter:alpha(opacity=30);
}

/*Footer on index page*/
#footer {
		padding-top: 50px;
		font-size: 0.8em;
		color: #f9f9bf;
}


/*-------IMAGES---------------*/

.bandPic {
		float: right;
		padding-left: 30px;
		padding-bottom: 12px;
}

.bandLogo {
		padding: 12px;
}

.bandLogoPreview {
		padding: 50px;
}


/*-------INPUT FIELDS---------*/

input, textarea {
		border-width: medium;
		border-style: double;
		padding: 5px;
}

input:focus, textarea:focus {
	    background: #FFF;
	    border: medium solid #6160a5;
	    box-shadow: 0 0 4px #333;
}

textarea {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		width: 100%;
		background: white;
}




/*-------SUBMIT BUTTON IN FORM--------*/

button.submit {
	    background-color: #4688be;
	    background: -webkit-gradient(linear, left top, left bottom, from(#4688be), to(#396f9b));
	    background: -webkit-linear-gradient(top, #4688be, #396f9b);
	    background: -moz-linear-gradient(top, #4688be, #396f9b);
	    background: -ms-linear-gradient(top, #4688be, #396f9b);
	    background: -o-linear-gradient(top, #4688be, #396f9b);
	    background: linear-gradient(top, #4688be, #396f9b);
	    border: 1px solid #33658e;
	    border-bottom: 1px solid #2d6da1;
	    border-radius: 3px;
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    -ms-border-radius: 3px;
	    -o-border-radius: 3px;
	    box-shadow: inset 0 1px 0 0 #bad3e8;
	    -webkit-box-shadow: 0 1px 0 0 #bad3e8 inset ;
	    -moz-box-shadow: 0 1px 0 0 #bad3e8 inset;
	    -ms-box-shadow: 0 1px 0 0 #bad3e8 inset;
	    -o-box-shadow: 0 1px 0 0 #bad3e8 inset;
	    color: white;
	    font-weight: bold;
	    font-size: 1.2em;
	    padding: 6px 20px;
	    margin-top: 50px;
	    width: 120px;
	    text-align: center;
	    text-shadow: 0 -1px 0 #104570;
}

button.submit2 {
	    background-color: #4688be;
	    background: -webkit-gradient(linear, left top, left bottom, from(#4688be), to(#396f9b));
	    background: -webkit-linear-gradient(top, #4688be, #396f9b);
	    background: -moz-linear-gradient(top, #4688be, #396f9b);
	    background: -ms-linear-gradient(top, #4688be, #396f9b);
	    background: -o-linear-gradient(top, #4688be, #396f9b);
	    background: linear-gradient(top, #4688be, #396f9b);
	    border: 1px solid #33658e;
	    border-bottom: 1px solid #2d6da1;
	    border-radius: 3px;
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    -ms-border-radius: 3px;
	    -o-border-radius: 3px;
	    box-shadow: inset 0 1px 0 0 #bad3e8;
	    -webkit-box-shadow: 0 1px 0 0 #bad3e8 inset ;
	    -moz-box-shadow: 0 1px 0 0 #bad3e8 inset;
	    -ms-box-shadow: 0 1px 0 0 #bad3e8 inset;
	    -o-box-shadow: 0 1px 0 0 #bad3e8 inset;
	    color: white;
	    font-weight: bold;
	    font-size: 1.2em;
	    padding: 6px 20px;
	    margin-top: 40px;
	    width: 200px;
	    text-align: center;
	    text-shadow: 0 -1px 0 #104570;
}

button.submit:hover, button.submit2:hover {
	    opacity:.85;
	    cursor: pointer;
}
button.submit:active, button.submit2:active {
	    border: 1px solid #bad3e8;
	    box-shadow: 0 0 10px 5px #396f9b inset;
	    -webkit-box-shadow:0 0 10px 5px #396f9b inset ;
	    -moz-box-shadow: 0 0 10px 5px #396f9b inset;
	    -ms-box-shadow: 0 0 10px 5px #396f9b inset;
	    -o-box-shadow: 0 0 10px 5px #396f9b inset;
}