/*CSS Document*/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*---------REAL CSS STARTS HERE-----------*/

body {
		color: #000;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 0.90em;
		line-height: 1.2em;
		background-color: white;
		background-image: url('random_grey_variations.png');
		margin: 0 auto;
}

#header {
		background-color: black;
		margin: 0 auto;
		margin-bottom: 50px;
		width: 100%;
		height: 45px !important;
}

#content {
		background-color: #FFF;
		border: 1px solid #666;
		width: 800px;
		margin-left: auto;
		margin-right: auto;
		padding: 15px;
		border-radius: 5px;
}

ul {
	    width: 800px;
	    list-style-type: none;
	    list-style-position: outside;
}

li {
		float: left;
	    padding: 15px;
	    position: relative;
	    margin: 0 12px;
	    margin-bottom: 15px;
}

li a:link, a:visited, a:active {
		font-size: 1em;
		font-weight: bold;
		color: white;
		text-decoration: none;
		text-transform: uppercase;
}

li a:hover {
		color: #a4b7d6;
}

h1 {
		color: #000;
		line-height: 2.5em;
		font-size: 1.9em;
		font-weight: bold;
		text-align: center;
		border-bottom: 1px dotted #999;
		background-color: #CCC;
		margin-top: 0;
		margin-bottom: 30px;
		border-radius: 1px;
}

b {
		font-weight: bold;
		font-size: 1.2em;
		color: #3e7aab;
}

input.top {
		margin-right: 50px;
}

fieldset {
		text-align: center;
}

select {
    	border: 0px !important;.
	}

#schoolTerm {
		width: 500px;
		height: 35px;
		background-color: #3e7aab;
		color: #FFF;
		font-weight: bold;
		font-size: 16px;
		text-align: center;
}